.element__like {
    /*background-image: url(../../../images/heart.png);
    background-repeat: no-repeat;
    background-position: center;*/
    width: 21px;
    height: 19px;
    object-fit: contain;  
    border: none;
    padding: 0;
    cursor: pointer;
   
}