.profile__edit-button {
    background-color: black;
    /*background-image: url(../../../images/edit-button.png);*/
    height: 24px;
    width: 24px;
    margin-left: 18px;
    padding: 0;
    margin-top: 45px;
    border: none;
    cursor: pointer;
}


 
    

@media screen and (max-width: 675px) {
    .profile__edit-button {
        margin-top: 31px;       
    }
}

@media screen and (max-width: 550px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;

    }
}

