@import url(./__list/places__list.css);

.places {
    width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: 0 auto 68px;
} 

  @media screen and (max-width: 930px) {
    .places {
      width: 581px;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto 50px;
    }
}


@media screen and (max-width: 610px) {
    .places {
      width: 282px;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
    }
}