@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__picture/profile__picture.css);
@import url(../profile/__title/profile__title.css);
@import url(../profile/__occupation/profile__occupation.css);
@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__info-top/profile__info-top.css);
@import url(../profile/__add-button-plus/profile__add-button-plus.css);
@import url(../profile/__edit-button-vector/profile__edit-button-vector.css);



.profile {
    width: calc(100% - 400px);
    margin: 40px auto 50px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;  
    font-family: 'Inter', sans-serif;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
}

@media screen and (max-width: 1130px) {
    .profile {
      width: calc(100% - 240px);
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      text-align: center;
    }
}


@media screen and (max-width: 550px) {
    .profile {
      margin: 70.25px auto 36px;
      /*align-content: center;*/
      width: calc(100% - 38px);
      
    }
}