@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__picture/profile__picture.css);
@import url(./__title/profile__title.css);
@import url(./__occupation/profile__occupation.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__info-top/profile__info-top.css);
@import url(./__add-button-plus/profile__add-button-plus.css);
@import url(./__edit-button-image/profile__edit-button-image.css);

.profile {
    width: calc(100% - 400px);
    margin: 40px auto 50px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1130px) {
    .profile {
      width: calc(100% - 240px);
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .profile {
      margin: 38.25px auto 36px;
      width: calc(100% - 38px);
      
    }
}