
@import url(./_input/modal__form_input.css);
@import url(./_submit/modal__form_submit.css);

.modal__form { 
    height: 330px;
    width: 430px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    z-index: 4;
    box-sizing: border-box;
}

@media screen and (max-width: 550px) {
    .modal__form {
        width: 282px;
        height: 322px;
       
    }
}