.header__logo {
    object-fit: contain;
    height: 33px;
    width: 173px;
    margin-bottom: 41px;
}



@media screen and (max-width: 550px) {
    .header__logo {
      height: 24px;
      width: 126px;
      margin-left: 27px;
      
    }
}