@import url(../header/__logo/header__logo.css);
@import url(../header/__line/header.line.css);

.header {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    margin: 45px auto 0;
    align-content: flex-start;
    
    
}


@media screen and (max-width: 768px) {
    .header {
      width: calc(100% - 240px);
    }
}


@media screen and (max-width: 450px) {
    .header {
      width: 100%;
      margin-top: 28px;
      
    }
}