@import url(./__logo/header__logo.css);

.header {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    margin: 45px auto 0;
    align-content: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
   
}


@media screen and (max-width: 768px) {
    .header {
      width: calc(100% - 240px);
    }
}


@media screen and (max-width: 450px) {
    .header {
      width: 100%;
      margin-top: 28px;
    }
}