.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    align-items: baseline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



@media screen and (max-width: 675px) {
    .profile__title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 26px;
    }
}

@media screen and (max-width: 550px) {
    .profile__title {
        font-size: 22px;
        line-height: 27px;
    }
}

