.profile__add-button {
    background-color: black;
    margin-left: auto;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 0;
}

@media screen and (max-width: 1130px) {
    .profile__add-button {      
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 550px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin: auto;
    }
}

