.modal__form-submit {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 21.78px;
    width: 358px;
    height: 50.15px;
    margin: 48px 36px 36.51px;
}