.elements {
    /*max-width: 1280px;*/
    width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: 0 auto 68px;
 
}
 /*in proj 3, I used explicit margin value for R and L, not auto*/

  @media screen and (max-width: 930px) {
    .elements {
      width: 581px;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto 50px;
    }
}


@media screen and (max-width: 610px) {
    .elements {
      width: 282px;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      margin: 0 auto 50px;
    }
}

  