.elements {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: 0 200px 68px;
}


/*.photo-grid {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 0 48px 92px;
  }*/