.modal__close-button {
    background:rgba(0,0,0,0);
    height: 40px;
    width: 40px;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    /*right: 335px;*/
    /*margin-left: calc(50% - 215px);*/
    z-index: 100;
    border: none;
    cursor: pointer;
    
}

@media screen and (max-width: 550px) {
    .modal__close-button {
        width: 26px;
        height: 26px;
        right: 0;
        top: -26px;
     
    }
}