.modal__close-button {
    /*background-image: url(../../../images/modal-close-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;*/
    background:rgba(0,0,0,0);
    height: 55px;
    width: 55px;
    padding: 0;
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 100;
    border: none;
    cursor: pointer;
    
}

@media screen and (max-width: 550px) {
    .modal__close-button {
        width: 36px;
        height: 36px;
        right: 0;
        top: -36px;
     
    }
}