.modal__container {
    display: flex;
    
    flex-direction: column;
    margin: auto;  
    z-index: 1000;  
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
}   


  
    /*left: calc(50% - 105px);
    top: */
    /*margin: 0;*/
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

  
