.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    
}

@media screen and (max-width: 930px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}
