@import url(./-error/modal__input-error.css);
@import url(./_type_error/modal__input_type_error.css);


.modal__input {
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 16.94px;
    box-sizing: border-box;
    text-align: left;
    margin: 29px 36px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 0 12px 0;
}


@media screen and (max-width: 550px) {
    .modal__input {
        width: 238px;
        margin: 29px 22px 0;
        
    }
}

/*.modal__input:invalid {
    border-bottom: 1px solid red;
}*/

