.element__content {
    width: calc(100% - 36px);
    padding: 25px 21px 31px 15px;
    display: flex;
    /*margin: 25px, 21px, 31px, 15px;*/
    justify-content: space-between;
    padding: 0;
    border-radius: 0 0 5px 5px;
}