.modal__input-error {
    visibility: hidden;
    margin-left: 36px;
    color: red;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14.52px;

}