@import url(../modal/__form-control/modal__form-control.css);
@import url(../modal/__form-submit/modal__form-submit.css);
@import url(../modal/__title/modal__title.css);
@import url(../modal/__form/modal__form.css);
@import url(../modal/__close-icon/modal__close-icon.css);


.modal {
    height: 330px;
    width: 430px;
    border-radius: 10px;
    display: block;
    background-color: white;
    border: none;
    /*margin: auto;*/
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: -165px;
    margin-left: -215px;
    /*right: 34%;*/
    
    z-index: 1;
    
}

@media screen and (max-width: 550px) {
    .modal {
        width: 282px;
        height: 322px;
      
    }
}