@import url(../modal/__form-control/modal__form-control.css);
@import url(../modal/__form-submit/modal__form-submit.css);
@import url(../modal/__title/modal__title.css);
@import url(../modal/__form/modal__form.css);
@import url(../modal/__close-icon/modal__close-icon.css);
@import url(../modal/__container/modal__container.css);
@import url(../modal/__close-button/modal__close-button.css);
@import url(../modal/__form-name/modal__form-name.css);
@import url(../modal/__form-occupation/modal__form-occupation.css);


.modal {
    height: 330px;
    width: 430px;
    border-radius: 10px;
    display: none;
    background-color: white;
    border: none;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}

@media screen and (max-width: 550px) {
    .modal {
        width: 282px;
        height: 322px;      
    }
}