@import url(../modal/__form-control/modal__form-control.css);
@import url(../modal/__form-submit/modal__form-submit.css);

.modal {
    align-items: center;
    background-color: white;
    border: 
}