@import url(./__title/modal__title.css);
@import url(./__form/modal__form.css);
@import url(./__close-icon/modal__close-icon.css);
@import url(./__container/modal__container.css);
@import url(./__close-button/modal__close-button.css);
@import url(./__input/modal__input.css);
@import url(./__submit/modal__submit.css);
@import url(./__image/modal__image.css);
@import url(./__container/_content_preview/modal__container_content_preview.css);



.modal {
    position: fixed;
    display: none;
    height: auto;
    width: 100%;
    background-color: rgb(0,0,0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

