.profile__info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


@media screen and (max-width: 1130px) {
    .profile__info {
        margin-right: auto;
        margin-left: auto;
        /*align-items: center;*/
    }
}


@media screen and (max-width: 550px) {
    .profile__info {
        margin: 0 auto;
      
    }
}

