.modal__caption {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    align-self: initial;
    font-style: normal;
    margin-bottom: 10px;
    margin-left: 0;

}