@import url(../footer/__copyright/footer__copyright.css);

.footer {
    width: 880px;;
    margin: 0 auto 60px;
    align-items: flex-start;
    /*text-align: left; */  
    color: #545454;

}

@media screen and (max-width: 930px) {
  .footer{
    width: 581px;
  }
}


@media screen and (max-width: 550px) {
  .footer{
    width: 282px;
    margin: 0 auto 36px;
    
  }
}
