@import url(../footer/__copyright/footer__copyright.css);

.footer {
    width: calc(100% - 962px);
    justify-content: left;
    margin-left: 200px;
    border: solid 1px red;

}

@media screen and (max-width: 768px) {
    .footer {
      width: calc(100% - 468px);
      margin-left: 120px;
    }
}


@media screen and (max-width: 450px) {
    .footer {
      width: calc(100% - 38px);
      margin: 0 auto 36px;
    }
}