@import url(../element/__image-container/element__image-container.css);
@import url(../element/__image/element__image.css);
@import url(../element/__heart/element__heart.css);
@import url(../element/__content/element__content.css);
@import url(../element/__title/element__title.css);
@import url(../element/__bottom/element__bottom.css);

.element {
    max-width: 282px;
    background-color: white;
    width: 282px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}




