.modal__submit {
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin: auto 36px 36px;
    line-height: 21.78px;
    width: 358px;
    height: 50.15px;
    border: 0;
    border-radius: 2px;
    padding: 0;
    
    
}

@media screen and (max-width: 550px) {
    .modal__submit {
        width: 238px;
        margin: 45px 22px 25px;
        font-size: 14px;
        line-height: 16px;
    }
}