.profile__occupation {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1130px) {
    .profile__occupation {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 550px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 16.94px;
        margin-top: 14px;
    }
}