.profile__ocupation {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    margin-top: 16px;
}

@media screen and (max-width: 1130px) {
    .profile__occupation {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 450px) {
    .profile__ocupation {
        font-size: 14px;
        line-height: 16.94px;
        margin-top: 14px;
    }
}