@import url(./__image-container/card__image-container.css);
@import url(./__image/card__image.css);
@import url(./__like-button/card__like-button.css);
@import url(./__content/card__content.css);
@import url(./__title/card__title.css);
@import url(./__bottom/card__bottom.css);
@import url(./__like-heart/card__like-heart.css);

.card {
    max-width: 282px;
    background-color: white;
    width: 282px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}